.video-carousel {
  width: 100%;
  padding: 64px;
  max-width: 100vw;
  overflow: hidden;
  max-width: 1250px;
  margin: 0 auto;
  & .video-carousel-heading {
    padding-bottom: 39px;
  }
  & .video-carousel-card {
    width: 248px;
    margin-right: 24px;
  }

  & .video-carousel-name {
    color: #fff;
    font-family: Poppins;
    font-size: 26.818px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  & .video-carousel-profession {
    color: #fff;
    font-family: Poppins;
    font-size: 21.455px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  & .video-carousel-video {
    aspect-ratio: 9/16;
    width: 248px;
    border-radius: 16.091px;
  }

  & .video-carousel-video-box {
    position: relative;
  }

  & .video-carousel-inner {
    position: absolute;
    /* width: 100%; */
    width: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16.091px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.48) 0%,
      rgba(0, 0, 0, 0.48) 100%
    );
    top: 0;
    aspect-ratio: 9/16;
  }

  & .slick-dots.slick-dots li {
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    margin: 0;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
  }
  & .slick-dots.slick-dots li button {
    opacity: 0;
  }
  & .slick-dots.slick-dots li.slick-active {
    background: linear-gradient(#fce6bd 29%, #bf9c5e 100%);
  }
  & .slick-dots.slick-dots li:hover {
    background: linear-gradient(#fce6bd 29%, #bf9c5e 100%);
  }

  & .slick-dots.slick-dots {
    bottom: -40px;
  }
  & .slick-arrow.slick-arrow::before {
    display: none;
  }
  & .slick-arrow.slick-arrow {
    opacity: 0;
    width: 0;
    height: 0;
  }
  @media (width<900px) {
    padding: 64px 48px;

    & .video-carousel-card,
    & .video-carousel-video,
    & .video-carousel-inner {
      width: 200px;
    }

    & .video-carousel-name {
      font-size: 21px;
    }

    & .video-carousel-profession {
      font-size: 16px;
    }
  }

  @media (width<680px) {
    padding: 64px 32px;
    padding-right: 0;

    & .slick-dots.slick-dots li button {
      width: 7px;
      height: 7px;
    }
    /* & .slick-dots.slick-dots {
      bottom: -20px;
    } */
    & .video-carousel-card {
      margin-right: 15px;
    }
    & .video-carousel-heading {
      padding-bottom: 28px;
    }
  }

  @media (width<480px) {
    & .video-carousel-name {
      font-size: 16px;
    }

    & .video-carousel-card,
    & .video-carousel-video,
    & .video-carousel-inner {
      width: 152px;
    }

    padding: 48px 21px;
    padding-bottom: 64px;
    padding-right: 0;

    & .video-carousel-profession {
      font-size: 14px;
    }
  }

  @media (width<420px) {
    & .video-carousel-card,
    & .video-carousel-video,
    & .video-carousel-inner {
      width: 136px;
    }
  }

  @media (width<360px) {
    padding: 35px 0 45px 16px;
    & .slick-dots.slick-dots {
      bottom: -20px;
    }
  }
}
