.app {
  background: #350b35;
}
.fixed-offer {
  display: flex;
  width: 100%;
  padding: 15px 0px 17px 0px;
  justify-content: center;
  align-items: center;
  background: #5c055c;
  gap: 16px;
}
.fixed-offer span {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.595%; /* 28.119px */
  background: var(
    --Linear,
    linear-gradient(
      100deg,
      #b1b1b1 0.89%,
      #bdbdbd 9.58%,
      #ebe6e6 26.9%,
      #fff 44.84%,
      #f0f0f0 64.21%,
      #cbcbcb 84.67%,
      #bebebe 102.86%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-golden {
  background: var(
    --Linear,
    linear-gradient(91deg, #e6c689 0%, #fce6bd 28.24%, #bf9c5e 97.26%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-heading {
  color: var(--Color-2, #fff);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
}
.div-circle-design {
  position: absolute;
  width: 279.116px;
  height: 295.075px;
  transform: rotate(9.93deg);
  flex-shrink: 0;
  opacity: 0.7;
  background: rgba(128, 0, 128, 0.87);
  filter: blur(89.94999694824219px);
}
.certificate-circle-design {
  width: 470px;
  height: 471px;
  flex-shrink: 0;
  border-radius: 156px;
  background: rgba(128, 0, 128, 0.5);
  filter: blur(89.94999694824219px);
  position: absolute;
  z-index: 2;
}
.certificate-3-section {
  position: relative;
}
.certificate-circle-design {
  left: 200px;
  top: 1100px;
}
.tutedude-subs-floater-outer {
  position: sticky;
  top: 72vh;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 10;
}
.tutedude-subs-floater {
  max-width: 649px;
  height: 153px;
  width: 100%;
  background: url("/public/floater-image.png");
  background-size: 100% 100%;
  padding: 33px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.tutedude-subs-floater-left {
  width: 100%;
}
.tutedude-subs-floater-right {
  width: fit-content;
  display: flex;
  height: 100%;
  padding: 14px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 7.998px;
  background: #950695;
  box-shadow: 0px 8px 32px 0px rgba(140, 0, 140, 0.3);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.5%; /* 24.7px */
  cursor: pointer;
}
.tutedude-subs-floater-left-head {
  color: #000;
  font-family: Inter;
  font-size: 35.791px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 53.686px */
}
.tutedude-subs-floater-left-subhead {
  color: #000;
  font-family: Inter;
  font-size: 24.778px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: line-through;
}
@media (width<1024px) {
  .certificate-circle-design {
    width: 250px;
    height: 250px;
    left: 140px;
    top: 1250px;
  }
}
@media (width<780px) {
  .fixed-offer {
    padding: 9px 0;
    gap: 12.73px;
  }
  .fixed-offer span {
    font-size: 15.654px;
  }
  .section-heading {
    font-size: 40px;
  }
  .certificate-circle-design {
    display: none;
  }
  .tutedude-subs-floater-outer {
    top: 80vh;
  }
  .tutedude-subs-floater {
    margin: 0 40px;
    padding: 20px;
    height: fit-content;
  }
  .tutedude-subs-floater-right {
    height: fit-content;
    padding: 20px 30px;
  }
  .tutedude-subs-floater-left-head {
    font-size: 30px;
  }
  .tutedude-subs-floater-left-subhead {
    font-size: 20px;
  }
}
@media (width<580px) {
  .section-heading {
    font-size: 34px;
  }
  .tutedude-subs-floater-outer {
    top: calc(100vh - 106px);
  }
  .tutedude-subs-floater {
    margin: 0;
    padding: 20px;
    border-radius: 0;
    height: fit-content;
    background-size: 110% 110%;
    background-position: center center;
    gap: 9px;
  }
  .tutedude-subs-floater-right {
    height: fit-content;
    padding: 20px;
    font-size: 18px;
  }
  .tutedude-subs-floater-left-head {
    font-size: 26px;
  }
  .tutedude-subs-floater-left-subhead {
    font-size: 18px;
  }
}
@media (width<400px) {
  .section-heading {
    font-size: 28px;
  }
  .tutedude-subs-floater-outer {
    top: calc(100vh - 92px);
  }
  .tutedude-subs-floater-right {
    font-size: 16px;
    padding: 20px 10px;
  }
  .tutedude-subs-floater {
    padding: 16px 10px;
  }
  .tutedude-subs-floater-left-head {
    font-size: 22px;
  }
  .tutedude-subs-floater-left-subhead {
    font-size: 16px;
  }
}
